<!DOCTYPE html>

<html lang="en">
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Bluehill.Analyzers - @Document.GetTitle()</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/app.css" />
	@if (enableHighlight)
	{
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
		<script>hljs.highlightAll();</script>
	}
</head>
<body>
	<div id="bh-root">
		<div id="top-bar">
			<a href="/">Home</a>
			@foreach (var item in Types.Items)
			{
				<a href="@item.Path">@item.ShortName</a>
			}
		</div>
		@RenderBody()
		<div id="bottom">
			<p>Copyright &copy; @DateTime.Now.Year Bluehill</p>
		</div>
	</div>
</body>
</html>

@functions
{
	bool enableHighlight
	{
		get
		{
			var d = Document.Destination;

			if (d.ToString() == "generator.html")
			{
				return true;
			}

			var s = d.Parent.ToString();

			// ReSharper disable once MergeIntoLogicalPattern
			return s == "rule" || s == "refactoring" || s == "generator";
		}
	}
}
